/* Put your CSS here */
html, body {
    margin: 20px;
}

a {
  cursor: pointer;
}

.navtabs {
    background: rgba(255, 255, 255, 1);
    position:fixed;
    top:0; left:0;
    width:100%;
    z-index:999;
}

.navbar .nav > li > a.active {
  color: black;
  font-weight: bold;
}

.about {
  padding-bottom: 15px;
  width: 700px;
}

.about + .about {
  padding-top: 25px;
  border-top: 1px solid #000;
}

.studyListHeader {
    float: left;
}

.studyCarousel {
    width: 400px;
    height: 212px;
    float: left;
}

.studyCarouselRemoveRoom {
    float: right;
}

.startPoint,
.endPoint {
    position: absolute;
}

.filter_options form input {
    margin-top: 0;
}

.colStudies
{
    float: left;
    width: 15%;
}

.colRooms
{
    float: left;
    width: 15%;
}

.colSessions
{
    float: left;
    width: 15%;
}

.last{
    float: right;
    width: 55%;
}

.col li {
    padding-bottom: 20px;
}

.innerColumnLeft {
    width: 60%;
    display: inline-block;
    float: left;
}

.innerColumnRight {
    width: 39%;
    display: inline-block;
    float: right;
}

.eventListingScrollable {
    height: 200px; overflow-y: scroll;
}

.visitor-color-10012411 {
    background-color: #98C6FB;
}
.visitor-color-6013275 {
    background-color: #5BC15B;
}
.visitor-color-13778730 {
    background-color: #D23F2A;
}
.visitor-color-15567670 {
    background-color: #ED8B36;
}


body {
    overflow-y:scroll;
}

text {
    font: 12px sans-serif;
}

.chart {
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
    /*
      Minimum height and width is a good idea to prevent negative SVG dimensions...
      For example width should be =< margin.left + margin.right + 1,
      of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
    */
}

.chart svg {
    height: 500px;
}
/*
.btn active {
    background-color: blue;
  }
*/