/* Put your CSS here */
html, body {
    margin: 20px;
}

a {
  cursor: pointer;
}

.navtabs {
    background: rgba(255, 255, 255, 1);
    position:fixed;
    top:0; left:0;
    width:100%;
    z-index:999;
}

.navbar .nav > li > a.active {
  color: black;
  font-weight: bold;
}

.about {
  padding-bottom: 15px;
  width: 700px;
}

.about + .about {
  padding-top: 25px;
  border-top: 1px solid #000;
}

.studyListHeader {
    float: left;
}

.studyCarousel {
    width: 400px;
}

.studyCarouselRemoveRoom {
    float: right;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}