
.idea/*

.DS_Store


.idea/workspace.xml

logs/output.log

config/mongoid.old

.idea/iObserveService.iml

projectFilesBackup/.idea/workspace.xml

.idea/iObserveService.iml

.idea/iObserveService.iml
