<div ng-controller="StatisticsCtrl">

        <div class="colStudies">
            <h3>Studies</h3>
            <ul>
                <li ng-repeat="study in studies">
                    <div>
                        <span><b> {{ study.label }} </b></span>
                        <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldStudyChart(study)"><i class="icon-signal"></i></button>
                        <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldRooms(study)"><i class="icon-calendar"></i></button></br>
                        <span>Session(s): {{ study.sessionob_ids.length }} | Room(s): {{ study.room_ids.length }}</span></br>
                        <span>{{ timeConverter(study.created_on) }}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="colRooms">
            <div collapse="!roomListRequested">
                <h3>Rooms</h3>
                <ul>
                    <li ng-repeat="room in rooms">
                        <div>
                            <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldSessions(room)"><i class="icon-calendar"></i></button></br>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="colSessions">
            <div collapse="!studyChartRequested">
                <h3>Charts for {{ currentStudy.label }}</h3>
            </div>
            <div collapse="!sessionListRequested">
                <h3>Sessions for {{ currentRoom.label }}</h3>
                <li ng-repeat="session in sessions">
                    <div>
                        <p>Session ({{ sessions.indexOf(session) }}) :</p>
                        <p>{{ timeConverter(session.created_on) }}</p>
                        <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldSessionInfo(session)"><i class="icon-calendar"></i></button></br>
                    </div>
                </li>
            </div>
        </div>
        <div class="last">
            <div collapse="!sessionInfoListRequested">
                <h3>Session Information</h3>
                    <div class="innerColumnLeft">
                        <img ng-src="{{ currentSession.storage.url }}" width="500px" />
                    </div>
                    <div class="innerColumnRight">
                        <p>Finished on: {{ timeConverter(currentSession.finished_on) }}</p>
                        <p>Duration: {{ tDiff(currentSession.created_on, currentSession.finished_on) }}</p>
                        <p>Visitor(s): {{ currentSession.visitorgroup.visitors.length }}</p>
                        <p>Event(s): {{ currentSession.eventob_ids.length }}</p>
                        <h3>Charts for Session {{ sessions.indexOf(currentSession) }}</h3>
                        <ul>
                            <li ng-repeat="chart in chartList.content.sessionChartList">
                                <a ng-click="displaySessionChart(chart)">{{ chart.name }}</a>
                            </li>
                        </ul>
                        <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="displaySessionSequence()"><i class="icon-tasks"></i></button></br>
                        <div collapse="!sessionSequenceRequested">
                            <ul>
                                <li ng-repeat="event in chartData">
                                    <p>x: {{ event.xpos }} y: {{ event.ypos }}   {{ timeConverterShort(event.created_on) }}</p>
                                    <ul>
                                        <li ng-repeat="interaction in event.interactions">
                                            <ul>
                                                <li ng-repeat="visitor in interaction.visitors" ng-class="setVisitorClass(visitor.color)">
                                                    <p>{{ visitor.sex }}  {{ visitor.age }}  {{ visitor.nationality }}</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                <div collapse="!sessionChartRequested">


                </div>
            </div>
        </div>





</div>