<div ng-controller="StatisticsCtrl">
    <div style="display: block;">
        <div class="colStudies">
            <h3>Studies</h3>
            <ul>
                <li ng-repeat="study in studies">
                    <div>
                        <span><b> {{ study.label }} </b></span>
                        <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldStudyChart(study)"><i class="icon-signal"></i></button>
                        <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldRooms(study)"><i class="icon-calendar"></i></button></br>
                        <span>Session(s): {{ study.sessionob_ids.length }} | Room(s): {{ study.room_ids.length }}</span></br>
                        <span>{{ timeConverter(study.created_on) }}</span>
                        <br/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="colRooms">
            <div collapse="!roomListRequested">
                <h3>Rooms</h3>
                <!--span>For {{ currentStudy.label }}</span-->
                <ul>
                    <li ng-repeat="room in rooms">
                        <div>
                            <span><b> {{ room.label }} </b></span>
                            <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldSessions(room)"><i class="icon-calendar"></i></button></br>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="colSessions">
            <div collapse="!studyChartRequested">
                <h3>Charts for {{ currentStudy.label }}</h3>
            </div>
            <div collapse="!sessionListRequested">
                <h3>Sessions</h3>
                <!--span>For {{ currentRoom.label }}</span-->
                <li ng-repeat="session in sessions">
                    <div>
                        <span><b>Session ({{ sessions.indexOf(session) }})</b></span>
                        <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldSessionInfo(session)"><i class="icon-calendar"></i></button></br>
                        <p>{{ timeConverter(session.created_on) }}</p>
                    </div>
                </li>
            </div>
        </div>
        <div class="last">
            <div collapse="!sessionInfoListRequested">
                <h3>Session Information</h3>
                    <div class="innerColumnLeft">
                        <img ng-src="{{ currentSession.storage.url }}" width="500px" />
                    </div>
                    <div class="innerColumnRight">
                        <p>Finished on: {{ timeConverter(currentSession.finished_on) }}</p>
                        <p>Duration: {{ tDiff(currentSession.created_on, currentSession.finished_on) }}</p>
                        <p>Visitor(s): {{ currentSession.visitorgroup.visitors.length }}</p>
                        <p>Event(s): {{ currentSession.eventob_ids.length }}</p>
                        <h3>Charts for Session {{ sessions.indexOf(currentSession) }}</h3>
                        <ul>
                            <li ng-repeat="chart in chartList.content.sessionChartList">
                                <a ng-click="displaySessionChart(chart)">{{ chart.name }}</a>
                            </li>
                        </ul>
                        <span><b>Events Listing</b></span>
                        <button type="button" class="btn" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="displaySessionSequence()"><i class="icon-tasks"></i></button></br>
                        <div collapse="!sessionSequenceRequested">
                            <div class="eventListingScrollable">
                            <ul>
                                <li ng-repeat="event in chartData">
                                    <p>x: {{ event.xpos }} y: {{ event.ypos }} &nbsp;&nbsp;  {{ timeConverterShort(event.created_on) }}</p>
                                    <ul>
                                        <li ng-repeat="interaction in event.interactions">
                                            <ul>
                                                <li ng-repeat="visitor in interaction.visitors" ng-class="setVisitorClass(visitor.color)">
                                                    <p>{{ visitor.sex }}  {{ visitor.age }}  {{ visitor.nationality }}</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li ng-repeat="action in interaction.actions" ng-class="setVisitorClass(visitor.color)">
                                                    <p>{{ action.type }} &nbsp; {{ interaction.resources[interaction.actions.indexOf(action)].type }}</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div style="display: block; clear: both;" collapse="!sessionChartRequested" ng-include="'partial/charts/'+ chartShortName + '.html'"></div>




</div>