<div ng-controller="StudiesCtrl">
    <div id="studyListHeader">
        <h2>Studies <button class="btn" ng-click="isAddStudyCollapsed = !isAddStudyCollapsed"><i class="icon-plus"></i></button></h2>

        <div collapse="isAddStudyCollapsed">
            <input type="text" ng-model="studyLabel" placeholder="Study label" style="margin-bottom: 0;">
            <button class="btn btn-primary" ng-click="isCollapsed=true;createNewStudy()">OK</button>
        </div>
        <hr>
    </div>

    <br>
    <ul>
        <li ng-repeat="study in studies" ng-click="unfoldSessions(study)"><button class="btn" ng-click="openRemoveStudy(study)"><i class="icon-minus"></i></button><a href=""> Created: {{ timeConverter(study.created_on) }} | {{ study.label }} | Session(s): {{ study.sessionob_ids.length }} | Room(s): {{ study.room_ids.length }}</a></li>
    </ul>
    <br>
    <br>
    <div ng-show="isStudyChosen">
        <h3>Space  <button class="btn" ng-click="isAddRoomCollapsed = !isAddRoomCollapsed"><i class="icon-plus"></i></button>&nbsp;<button class="btn" ng-click="showActionSelector()"><i class="icon-star"></i> Actions</button>&nbsp;<button class="btn" ng-click="showResourceSelector()"><i class="icon-star"></i> Resources</button></h3>

        <div modal="showSpaceActions" close="closeSpaceActions()" class="actionPickerDiv">
            <div class="modal-header">
                <h3>Actions</h3>
            </div>
            <div style="margin: 15px">
                <div style="float: left; height: 300px;">
                    <h5>All actions</h5>
                    <select multiple ng-multiple="true" style="height: 250px">
                        <option ng-repeat="action in allActions" value="action._id">{{ action.type }}</option>
                    </select>
                </div>
                <div style="float: left; margin-top: 150px; margin-left: 10px; margin-right: 10px">
                    <button><i class="icon-arrow-left"></i></button>
                    <button><i class="icon-arrow-right"></i></button>
                </div>
                <div style="float: left; height: 300px">
                    <h5>Space's actions</h5>
                    <select multiple ng-multiple="true" style="height: 250px">
                        <option ng-repeat="action in spaceActions" value="action._id">{{ action.type }}</option>
                    </select>
                </div>
                <div style="clear: both;margin-top: 20px;text-align: center;width: 100%">
                    <button class="btn btn-primary" ng-click="closeAndSaveSpaceActions()">Save</button>
                    <button class="btn btn-danger" ng-click="closeSpaceActions()">Cancel</button>
                </div>
            </div>
        </div>


        <div collapse="isAddRoomCollapsed">
            <form action="/image" ng-upload>
                <input type="text" ng-model="roomLabel" placeholder="Room label" >
                <input type="file" name="file" class="btn"></input>
                <input class="btn btn-primary" type="submit" value="Upload" upload-submit="roomSubmited(content, completed)"></input>
             </form>
            <div class="alert alert-info">Server Response: {{uploadResponse}}</div>
            <img ng-src="{{uploadResponse.url}}" style="margin:auto;" width="300px">
        </div>

        <div>
            <div collapse="!isEditRoomCollapsed">
                <carousel interval="-1" class="studyCarousel">
                    <slide ng-repeat="room in rooms" active="room.active">
                        <img ng-src="{{room.uri}}" style="margin:auto;" width="300px">
                        <div class="carousel-caption">
                            <h4>Room {{$index}}</h4>
                            <p>{{room.label}}</p>
                            <div class="studyCarouselRemoveRoom"><button class="btn btn-primary" ng-click="openEditRoom(room)"><i class="icon-pencil"></i><button class="btn" ng-click="openRemoveRoom(room)"><i class="icon-minus"></i></button></div>
                        </div>
                    </slide>
                </carousel>

            </div>
            <div collapse="isEditRoomCollapsed">
                <button class="btn btn-primary" ng-click="showhideEditMode()">Save</button>

                 <div style="position: relative; width: 100%; height: 768px">
                    <div style="width: 1024px; z-index: 0; float: left">
                        <img ng-src="{{roomToEdit.uri}}" >
                        <div id="roomToEditLocs" style="position: absolute; top: 0; left: 0; width: 1024px;height: 768px">
                            <div jer-draggable="{ containment: '#roomToEditLocs', scroll: false }" class="startPoint" id="{{ roomStartPoint.uuid }}" ng-repeat="roomStartPoint in roomStartPoints" ng-style="{left: roomStartPoint.xpos + 'px', top: roomStartPoint.ypos + 'px'}"><img ng-src="img/walkin.png" ng-style="{transform: 'rotate('+roomStartPoint.rotation+'deg)'}"><div style="float: right; width: 10px "><button ng-click="removeStartPoint(roomStartPoint.uuid)"><i class="icon-minus-sign"></i></button><button ng-click="rotateStartPoint(roomStartPoint.uuid)"><i class="icon-repeat"></i></button></div></div>
                            <div jer-draggable="{ containment: '#roomToEditLocs', scroll: false }" class="endPoint" id="{{ roomEndPoint.uuid }}" ng-repeat="roomEndPoint in roomEndPoints" ng-style="{left: roomEndPoint.xpos + 'px', top: roomEndPoint.ypos + 'px'}"><img ng-src="img/walkaway.png" ng-style="{transform: 'rotate('+roomEndPoint.rotation+'deg)'}"><div style="float: right; width: 10px "><button ng-click="removeEndPoint(roomEndPoint.uuid)"><i class="icon-minus-sign"></i></button><button ng-click="rotateEndPoint(roomEndPoint.uuid)"><i class="icon-repeat"></i></button></div></div>
                        </div>
                    </div>
                    <div style="float: left;margin-left: 15px">
                        <img src="img/walkin.png">
                        <button ng-click="addStartPoint()"><i class="icon-plus-sign"></i></button>
                    </div>
                     <div style="float: left;margin-left: 15px">
                         <img src="img/walkaway.png">
                         <button ng-click="addEndPoint()"><i class="icon-plus-sign"></i></button>
                     </div>
                 </div>
            </div>
        </div>
        <br>
        <br>
        <h3>Sessions</h3>
        <accordion close-others="true">
            <accordion-group  ng-repeat="session in sessions" heading="Session ({{ sessions.indexOf(session) }}): {{ timeConverter(session.created_on) }}">
                <p>Finished on: {{ timeConverter(session.finished_on) }}</p>
                <p>Duration: {{ tDiff(session.created_on, session.finished_on) }}</p>
                <p>Visitor(s): {{ session.visitorgroup.visitors.length }}</p>
                <p>Event(s): {{ session.eventob_ids.length }}</p>
                <img src="{{ session.storage.url }}" width="500px" />
            </accordion-group>
        </accordion>
    </div>
</div>