<div ng-controller="ChartCtrl-frequencyMap">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <!--style>#slider { margin: 10px; }	</style-->
    <div class="modal-header">
        <h3>Frequency Map</h3>
    </div>
    <div class="chart">
        <div id="chart"></div>
    </div>
    <img ng-src="{{currentRoom.uri}}" width="1024px" height="723px" style="top: 45px" />
    <p>
        <label for="amount">Event step:</label>
        <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
    </p>

    <div id="slider" style="width: 1024px;"></div>
</div>



<!--div class="filter_options">
    <form>
        Resize <input class="filter_button" id="a_button" type="checkbox" value="a"/><br>
    </form>
</div-->