<div ng-controller="ChartCtrl-frequencyMap">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <!--style>#slider { margin: 10px; }	</style-->
    <div class="modal-header">
        <h3>Frequency Map</h3>
    </div>
    <div class="chart">
        <img ng-src="{{currentRoom.uri}}" width="1024px" height="723px" />
        <div id="chart" style="position: absolute; width:1024px; height:723px; top: 55px; z-index: 2;"></div>
    </div>
    <div class="filter_options">
        <form>
            <b>Session series:</b></br>
            <span ng-repeat="session in sessionDetails">
                <input class="filter_button" id="button_{{sessionDetails.indexOf(session)}}" type="checkbox" value="{{sessionDetails.indexOf(session)}}" label="{{sessionDetails.indexOf(session)}}">&nbsp{{timeConverter(session.created_on)}}<br>
            </span>
        </form>
        Darker circles represent multiple visitors (up to four). Larger circles indicate multiple interactions at a location.
    </div>
</div>



<!--div class="filter_options">
    <form>
        Resize <input class="filter_button" id="a_button" type="checkbox" value="a"/><br>
    </form>
</div-->