<script>

    //$scope.testData = $scope.chartData;



</script>

<div>


    <!--div class="filter_options">
        <form>
            A <input class="filter_button" id="a_button" type="checkbox" value="a"/><br>
            B <input class="filter_button" id="b_button" type="checkbox" value="b"/><br>
            C <input class="filter_button" id="c_button" type="checkbox" value="c"/><br>
        </form>
    </div-->
    <div id="chart"></div>

    <div id="coData"><span>Data passed from parent: {{chartData}}</span></div>


</div>