<div ng-controller="AboutCtrl">
    <div class='about'>
        <p>VisiTracker is a tablet-based application under development that functions as a research tool to support real-time observation and analysis of behaviors in public spaces. iObserve allows observers to collect demographic information about visitors to a museum or other public space, tracking the visitors’ paths through that space, and recording the location, time, and types of interactions as they occur, e.g., gaze, dwell time, reading, writing, moving, holding, talking, and pointing.

            </p><p>Visualizations of the analyzed data are available in different representations such as graphs, heat maps, pie charts, and spread sheets (not shown). In addition, iObserve may be used to conduct surveys, interviews, pre/
            post testing, and video recordings, and to secure participants’ consent to collect data in keeping with ethics regulations. iObserve is being developed by EngageLab in collaboration
            with the National Museum of Art, Architecture and Design, and has received special funding from The Research Council of Norway.</p>
    </div>

    <div class='about'>
        <p><a href="http://www.engagelab.net/">EngageLab</a>, a research organisation working with pedagogy and practice based reserch in Oslo</p>
    </div>
</div>