<div ng-controller="AboutCtrl">
    <div class='about'>
        <p>VISITRACKER is a tablet-based application and portal service currently under development that functions as a research tool supporting real-time observation and analysis of behavior in public spaces. VISITRACKER allows observers to collect demographic information about museum visitors or other public spaces, tracking their paths through the space and recording location, time, and types of interactions as they occur, e.g., gaze, dwell time, reading, writing, moving, holding, talking, pointing.

            </p><p>Visualizations of the analyzed data are available in representations such as graphs, heat maps, pie charts, and spreadsheets. In addition, VISITRACKER may be used to conduct surveys, interviews, pre/
            post testing, and video recordings, and to secure participants’ consent to collect data in keeping with ethics regulations. VISITRACKER is being developed by EngageLab in collaboration
            with the National Museum of Art, Architecture and Design, and has received special funding from The Research Council of Norway.</p>
    </div>

    <div class='about'>
        <p><a href="http://www.engagelab.net/">EngageLab</a>, a research organisation working with pedagogy and practice based reserch in Oslo</p>
    </div>
</div>