<div style="max-width: 800px;">
<form class="form-horizontal" role="form" ng-controller="LoginCtrl" novalidate>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="inputEmail">Email</label>
        <div class="col-xs-6 controls">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="email" required>
            <div class="col-xs-4 input-help">
                <h4>Invalid Email</h4>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="inputPassword">Password</label>
        <div class="col-xs-6 controls">
            <input ng-model="password" class="immediate-help form-control" password-validate required type="password" id="inputPassword" placeholder="Password">
            <div class="col-xs-4 input-help">
                <h4>Password must meet the following requirements:</h4>
                <ul>
                    <li ng-class="pwdHasLetter">At least <strong>one letter</strong></li>
                    <li ng-class="pwdHasNumber">At least <strong>one number</strong></li>
                    <li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-2 controls">
            <button type="submit" class="btn" ng-click="logMeIn()">Login</button>
            <button class="btn" disabled>Login</button>
        </div>
    </div>
</form>
</div>