<div style="width: 655px; height: 491px; position: relative;">
    <div style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
        <img src="img/VisiTracker-1024x768-72p.jpg"/>
    </div>
    <div style="width: 157px; height: 100px; position: absolute; top: 368px; left: 249px; z-index: 10;">
        <marquee style="z-index: 2; text-align: center; color: white;" scrollamount="1" scrolldelay="30" direction="up" height="100%">
            <img src="img/engageLab.jpg" height="37" width="117" left="20"/>
            <h5>Writers</h5>
            <p>Jeremy Toussaint</p>
            <p>Richard Nesnass</p>
            <h5>Editor</h5>
            <p>Edith "Editedit" Isdal</p>
            <h5>Researcher</h5>
            <p>Rolf Steier</p>
            <h5>Producer</h5>
            <p>Palmyre Pierroux</p>
            <h5>Director</h5>
            <p>Lars Lomell</p>
        </marquee>
    </div>
</div>