<div style="width: 655px; height: 491px; position: absolute; top: -50px; left: 0px; z-index: 5; width: 100%">
    <div style="width: 1024px; height: 768px; position: absolute; top: 0; left: 0;">
        <img src="img/VisiTracker-1024x768-72p.jpg" ng-click="showingSplashScreen.showing = false"/>
    </div>
    <div style="width: 157px; height: 100px; position: absolute; top: 560px; left: 440px; z-index: 10;">
        <marquee style="z-index: 2; text-align: center; color: white;" scrollamount="1" scrolldelay="30" direction="up" height="100%">
            <img src="img/engageLab2.png" height="37" width="117" left="20"/>
            <h5>Writers</h5>
            <p>Jeremy Toussaint</p>
            <p>Richard Nesnass</p>
            <h5>Editor</h5>
            <p>Edith "Editedit" Isdal</p>
            <h5>Researcher</h5>
            <p>Rolf Steier</p>
            <h5>Producer</h5>
            <p>Palmyre Pierroux</p>
            <h5>Director</h5>
            <p>Lars Lomell</p>
        </marquee>
    </div>
</div>