<div ng-controller="StatisticsCtrl">
    <div>
        <div class="colStudies">
            <h3>Studies</h3>
            <ul>
                <li ng-repeat="study in studies">
                    <div>
                        <button type="button" class="btn btn-info btn-mini" ng-model="roomListButton" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldRooms(study, $event)"><i class="icon-suitcase"></i></button>
                        <span><b> {{ study.label }} </b></span></br>
                        <span>Session(s): {{ study.sessionob_ids.length }} | Room(s): {{ study.room_ids.length }}</span>
                        <p>{{ timeConverter(study.created_on) }}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="colRooms">
            <div collapse="!roomListRequested">
                <div style="margin: 0.5em">
                <h3>Visuals</h3>
                <ul>
                    <li ng-repeat="chart in chartList.content.studyChartList" style="margin-top: 5px;">
                        <button type="button" class="btn btn-info btn-mini" ng-model="surveyChartButton" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="displayChart(chart, $event)"><i class="icon-bar-chart"></i></button>
                        <span><b>{{ chart.name }}</b></span></br>
                    </li>
                </ul>
                <h3>Rooms</h3>
                <ul>
                    <li ng-repeat="room in rooms">
                        <div>
                            <button type="button" class="btn btn-info btn-mini" ng-model="sessionListButton" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldSessions(room, $event)"><i class="icon-folder-open-alt"></i></button>
                            <span><b> {{ room.label }} </b></span></br>
                            <p>Sessions(s):{{ currentStudy.sessionob_ids.length }}</p>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>
        <div class="colSessions">
            <div collapse="!sessionListRequested" ng-show="showSessionList" style="overflow:auto;">
                <div style="margin: 0.5em">
                    <h3>Visuals</h3>
                    <ul>
                        <li ng-repeat="chart in chartList.content.roomChartList" style="margin-top: 5px;">
                            <button type="button" class="btn btn-info btn-mini" ng-model="sessionChartButton" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="displayChart(chart, $event)"><i class="icon-bar-chart"></i></button>
                            <span><b>{{ chart.name }}</b></span></br>
                        </li>
                    </ul>
                    <h3>Visitor Sessions</h3>
                    <ul>
                        <li ng-repeat="session in sessions">
                            <div>
                                <button type="button" class="btn btn-info btn-mini" ng-model="sessionInfoListButton" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="foldSessionInfo(session, $event)"><i class="icon-calendar"></i></button>
                                <span><b>Session ({{ sessions.indexOf(session) }})</b></span></br>
                                <p>{{ timeConverter(session.created_on) }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="last">
            <div collapse="!sessionInfoListRequested">
                <div style="margin: 0.5em">
                <h3>Session Information</h3>
                    <div class="innerColumnLeft" style="margin: 0.5em">
                        <img ng-src="{{ currentSession.storage.url }}" width="500px" style="margin-bottom: 10px" />
                        <div collapse="!sessionSequenceRequested">
                            <div class="eventListingScrollable">
                                <ul style="list-style-type: none">
                                    <li ng-repeat="event in chartData">
                                        <p style="font-weight: bold">Event {{chartData.indexOf(event)}} &nbsp;&nbsp;  {{ timeConverterShort(event.created_on) }} &nbsp;&nbsp; x: {{ event.xpos }} y: {{ event.ypos }}</p>
                                        <ul style="list-style-type: none" class="eventSublistScrollable">
                                            <li ng-repeat="interaction in event.interactions">
                                                <ul style="list-style-type: none">
                                                    <li ng-repeat="action in interaction.actions">
                                                        <p style="font-size: 0.8em;">Action & Resource:</p>
                                                        <p style="font-weight: bold">{{ action.type }} &nbsp; {{ interaction.resources[interaction.actions.indexOf(action)].type }}</p>
                                                    </li>
                                                </ul>
                                                <ul style="list-style-type: none">
                                                    <p style="font-size: 0.8em;">Visitor(s):</p>
                                                    <li ng-repeat="visitor in interaction.visitors">
                                                        <p ng-class="setVisitorClass(visitor.color)" style="font-weight: bold">{{ visitor.sex }}  {{ visitor.age }}  {{ visitor.nationality }}</p>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="innerColumnRight">
                        <p>Finished on: {{ timeConverter(currentSession.finished_on) }}<br/>
                        Duration: {{ tDiffMoment(currentSession.created_on, currentSession.finished_on) }}<br/>
                        Visitor(s): {{ currentSession.visitorgroup.visitors.length }}<br/>
                        Event(s): {{ currentSession.eventob_ids.length }}</p>
                        <br/>
                        <h5>Charts for this Session</h5>
                        <ul>
                            <li ng-repeat="chart in chartList.content.sessionChartList" style="margin-top: 5px;">
                                <button type="button" class="btn btn-info btn-mini" ng-model="sessionChartButton" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="displayChart(chart, $event)"><i class="icon-bar-chart"></i></button>
                                <span><b>{{ chart.name }}</b></span></br>
                            </li>
                        </ul>
                        <br/>
                        <button type="button" class="btn btn-info btn-mini" ng-model="sessionSequenceListButton" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="displaySessionSequence($event)"><i class="icon-th-list"></i></button>
                        <span><b>Events Listing</b></span></br><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="statChartDiv" onload="partialLoaded()" collapse="!chartRequested" ng-include="'partial/charts/'+ chartShortName + '.html'"></div>
</div>